@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
   
    <!-- Botões para Adicionar e Ver Produtos -->
    <div class="btn-group mt-4" role="group" aria-label="Product Actions">
        <!-- Botão Adicionar Produto (Amarelo) -->
        <a href="@Url.Action("Create", "Produtoes")" class="btn btn-warning">Adicionar Produto</a>

        <!-- Botão Ver Produtos (Verde) -->
        <a href="@Url.Action("Index", "Produtoes")" class="btn btn-success">Ver Produtos</a>
    </div>
</div>
